interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/octocat/Spoon-Knife
  response:
    body:
      string: '{"id":1300192,"node_id":"MDEwOlJlcG9zaXRvcnkxMzAwMTky","name":"Spoon-Knife","full_name":"octocat/Spoon-Knife","private":false,"owner":{"login":"octocat","id":583231,"node_id":"MDQ6VXNlcjU4MzIzMQ==","avatar_url":"https://avatars.githubusercontent.com/u/583231?v=4","gravatar_id":"","url":"https://api.github.com/users/octocat","html_url":"https://github.com/octocat","followers_url":"https://api.github.com/users/octocat/followers","following_url":"https://api.github.com/users/octocat/following{/other_user}","gists_url":"https://api.github.com/users/octocat/gists{/gist_id}","starred_url":"https://api.github.com/users/octocat/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/octocat/subscriptions","organizations_url":"https://api.github.com/users/octocat/orgs","repos_url":"https://api.github.com/users/octocat/repos","events_url":"https://api.github.com/users/octocat/events{/privacy}","received_events_url":"https://api.github.com/users/octocat/received_events","type":"User","user_view_type":"public","site_admin":false},"html_url":"https://github.com/octocat/Spoon-Knife","description":"This
        repo is for demonstration purposes only.","fork":false,"url":"https://api.github.com/repos/octocat/Spoon-Knife","forks_url":"https://api.github.com/repos/octocat/Spoon-Knife/forks","keys_url":"https://api.github.com/repos/octocat/Spoon-Knife/keys{/key_id}","collaborators_url":"https://api.github.com/repos/octocat/Spoon-Knife/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/octocat/Spoon-Knife/teams","hooks_url":"https://api.github.com/repos/octocat/Spoon-Knife/hooks","issue_events_url":"https://api.github.com/repos/octocat/Spoon-Knife/issues/events{/number}","events_url":"https://api.github.com/repos/octocat/Spoon-Knife/events","assignees_url":"https://api.github.com/repos/octocat/Spoon-Knife/assignees{/user}","branches_url":"https://api.github.com/repos/octocat/Spoon-Knife/branches{/branch}","tags_url":"https://api.github.com/repos/octocat/Spoon-Knife/tags","blobs_url":"https://api.github.com/repos/octocat/Spoon-Knife/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/octocat/Spoon-Knife/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/octocat/Spoon-Knife/git/refs{/sha}","trees_url":"https://api.github.com/repos/octocat/Spoon-Knife/git/trees{/sha}","statuses_url":"https://api.github.com/repos/octocat/Spoon-Knife/statuses/{sha}","languages_url":"https://api.github.com/repos/octocat/Spoon-Knife/languages","stargazers_url":"https://api.github.com/repos/octocat/Spoon-Knife/stargazers","contributors_url":"https://api.github.com/repos/octocat/Spoon-Knife/contributors","subscribers_url":"https://api.github.com/repos/octocat/Spoon-Knife/subscribers","subscription_url":"https://api.github.com/repos/octocat/Spoon-Knife/subscription","commits_url":"https://api.github.com/repos/octocat/Spoon-Knife/commits{/sha}","git_commits_url":"https://api.github.com/repos/octocat/Spoon-Knife/git/commits{/sha}","comments_url":"https://api.github.com/repos/octocat/Spoon-Knife/comments{/number}","issue_comment_url":"https://api.github.com/repos/octocat/Spoon-Knife/issues/comments{/number}","contents_url":"https://api.github.com/repos/octocat/Spoon-Knife/contents/{+path}","compare_url":"https://api.github.com/repos/octocat/Spoon-Knife/compare/{base}...{head}","merges_url":"https://api.github.com/repos/octocat/Spoon-Knife/merges","archive_url":"https://api.github.com/repos/octocat/Spoon-Knife/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/octocat/Spoon-Knife/downloads","issues_url":"https://api.github.com/repos/octocat/Spoon-Knife/issues{/number}","pulls_url":"https://api.github.com/repos/octocat/Spoon-Knife/pulls{/number}","milestones_url":"https://api.github.com/repos/octocat/Spoon-Knife/milestones{/number}","notifications_url":"https://api.github.com/repos/octocat/Spoon-Knife/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/octocat/Spoon-Knife/labels{/name}","releases_url":"https://api.github.com/repos/octocat/Spoon-Knife/releases{/id}","deployments_url":"https://api.github.com/repos/octocat/Spoon-Knife/deployments","created_at":"2011-01-27T19:30:43Z","updated_at":"2026-07-03T05:55:48Z","pushed_at":"2024-08-21T15:25:42Z","git_url":"git://github.com/octocat/Spoon-Knife.git","ssh_url":"git@github.com:octocat/Spoon-Knife.git","clone_url":"https://github.com/octocat/Spoon-Knife.git","svn_url":"https://github.com/octocat/Spoon-Knife","homepage":"","size":2,"stargazers_count":13871,"watchers_count":13871,"language":"HTML","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":157824,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":20700,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"has_pull_requests":true,"pull_request_creation_policy":"all","topics":[],"visibility":"public","forks":157824,"open_issues":20700,"watchers":13871,"default_branch":"main","temp_clone_token":null,"network_count":157824,"subscribers_count":867}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"b800b22a6828ff33c70034aba014dd80af37b745c53e32b4caae7406817bd14c"
      Last-Modified:
      - Fri, 03 Jul 2026 05:55:48 GMT
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '60'
      X-RateLimit-Remaining:
      - '55'
      X-RateLimit-Reset:
      - '1783092391'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '5'
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/octocat/Spoon-Knife/pulls/40346
  response:
    body:
      string: '{"url":"https://api.github.com/repos/octocat/Spoon-Knife/pulls/40346","id":3985725317,"node_id":"PR_kwDOABPW4M7tkVeF","html_url":"https://github.com/octocat/Spoon-Knife/pull/40346","diff_url":"https://github.com/octocat/Spoon-Knife/pull/40346.diff","patch_url":"https://github.com/octocat/Spoon-Knife/pull/40346.patch","issue_url":"https://api.github.com/repos/octocat/Spoon-Knife/issues/40346","number":40346,"state":"open","locked":false,"title":"TEST
        cross-repo via --repo","user":{"login":"dishasingh-21","id":185062256,"node_id":"U_kgDOCwfTcA","avatar_url":"https://avatars.githubusercontent.com/u/185062256?v=4","gravatar_id":"","url":"https://api.github.com/users/dishasingh-21","html_url":"https://github.com/dishasingh-21","followers_url":"https://api.github.com/users/dishasingh-21/followers","following_url":"https://api.github.com/users/dishasingh-21/following{/other_user}","gists_url":"https://api.github.com/users/dishasingh-21/gists{/gist_id}","starred_url":"https://api.github.com/users/dishasingh-21/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dishasingh-21/subscriptions","organizations_url":"https://api.github.com/users/dishasingh-21/orgs","repos_url":"https://api.github.com/users/dishasingh-21/repos","events_url":"https://api.github.com/users/dishasingh-21/events{/privacy}","received_events_url":"https://api.github.com/users/dishasingh-21/received_events","type":"User","user_view_type":"public","site_admin":false},"body":"testing
        the --repo flag","created_at":"2026-07-03T11:39:48Z","updated_at":"2026-07-03T11:39:48Z","closed_at":null,"merged_at":null,"merge_commit_sha":"3a1f6c6d8c1b34cbab9a8563eab9cd1e6e998c50","assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/octocat/Spoon-Knife/pulls/40346/commits","review_comments_url":"https://api.github.com/repos/octocat/Spoon-Knife/pulls/40346/comments","review_comment_url":"https://api.github.com/repos/octocat/Spoon-Knife/pulls/comments{/number}","comments_url":"https://api.github.com/repos/octocat/Spoon-Knife/issues/40346/comments","statuses_url":"https://api.github.com/repos/octocat/Spoon-Knife/statuses/8a756446fe3c67f4f4793a524a6f4a5e931d85d5","head":{"label":"dishasingh-21:test","ref":"test","sha":"8a756446fe3c67f4f4793a524a6f4a5e931d85d5","user":{"login":"dishasingh-21","id":185062256,"node_id":"U_kgDOCwfTcA","avatar_url":"https://avatars.githubusercontent.com/u/185062256?v=4","gravatar_id":"","url":"https://api.github.com/users/dishasingh-21","html_url":"https://github.com/dishasingh-21","followers_url":"https://api.github.com/users/dishasingh-21/followers","following_url":"https://api.github.com/users/dishasingh-21/following{/other_user}","gists_url":"https://api.github.com/users/dishasingh-21/gists{/gist_id}","starred_url":"https://api.github.com/users/dishasingh-21/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dishasingh-21/subscriptions","organizations_url":"https://api.github.com/users/dishasingh-21/orgs","repos_url":"https://api.github.com/users/dishasingh-21/repos","events_url":"https://api.github.com/users/dishasingh-21/events{/privacy}","received_events_url":"https://api.github.com/users/dishasingh-21/received_events","type":"User","user_view_type":"public","site_admin":false},"repo":{"id":1288178410,"node_id":"R_kgDOTMgK6g","name":"Spoon-Knife","full_name":"dishasingh-21/Spoon-Knife","private":false,"owner":{"login":"dishasingh-21","id":185062256,"node_id":"U_kgDOCwfTcA","avatar_url":"https://avatars.githubusercontent.com/u/185062256?v=4","gravatar_id":"","url":"https://api.github.com/users/dishasingh-21","html_url":"https://github.com/dishasingh-21","followers_url":"https://api.github.com/users/dishasingh-21/followers","following_url":"https://api.github.com/users/dishasin[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/octocat/Spoon-Knife/pulls/40346
  response:
    body:
      string: 'diff --git a/testfile.txt b/testfile.txt

        new file mode 100644

        index 000000000000..d7532bcd1239

        --- /dev/null

        +++ b/testfile.txt

        @@ -0,0 +1,2 @@

        +# cross-repo pr test

        +# cross-repo pr test

        '
    headers:
      Content-Type:
      - application/vnd.github.v3.diff; charset=utf-8
      ETag:
      - '"dd9ea3e443acea6f73fde71a415d4d244343e724c1645943ff186849fcfe4e13"'
      Last-Modified:
      - Fri, 03 Jul 2026 11:39:48 GMT
      X-GitHub-Media-Type:
      - github.v3; param=diff
      X-RateLimit-Limit:
      - '60'
      X-RateLimit-Remaining:
      - '49'
      X-RateLimit-Reset:
      - '1783092391'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '11'
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
version: 1
